/* css for new tweet form */

.new-tweet{
  display: flex;
  flex-direction: column;
  width: 100%;
 align-items: center;
 justify-content: center;
}

#tweet-text {
  display: flex;
  outline: 0;
  border-width: 0 0 5px;
  width: 100%;
  background-color: #f4f1ec;
  height: 40px;
  resize: none;
}

form {
  width: 100%;
}

#tweet-button {
  background-color: #4056a1;
}

#button-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', 'sans-serif ';
  width: 98.5%;
  margin: 9px
}

.overCount {
  color: red;
}